{% extends 'gerenciaTurmas/bases/base.html' %}

{% block content %}
<h1>{{avaliacao}} - {{avaliacao.nome}}</h1>
<div class="post">
    <h3><a href="{% url 'disciplina_detail' id=avaliacao.disciplina.id %}">Disciplina:
        {{avaliacao.disciplina.nome}}</a></h3>
    <h3><a href="{% url 'professores_detail' id=avaliacao.professor.id %}">professor:
        {{avaliacao.professor.user.name}}
        {{avaliacao.professor.user.lastName}}</a></h3>

    <table class="table">
        <thead>
        <th>Questões</th>
        <th>Resposta</th>
        {% if type == 'Professor' %}
            <th>Remover</th>
            <th>Edit</th>
        {% endif %}
        {% if type == 'Aluno' %}
            <th>Realizar avaliação</th>
        {% endif %}
        </thead>
        <tbody>
        {% for questao in avaliacao.questoes.all %}
        <tr>
            <td>{{questao.id}} {{questao.nome}}</td>
            <td>{{questao.correto}}</td>
            {% if type == 'Professor' %}
                <!-- TODO: botoes com href para remover -->
                <td><a href="{% url 'questao_delete' id=avaliacao.id  qid=questao.id%}"><button class="btn btn-default">Deletar</button></a></td>
                <td><a class="btn btn-default" href="{% url 'questao_edit' id=questao.id disciplina_id=avaliacao.disciplina.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            {% endif %}
            {% if type == 'Aluno' %}
                <td><a href="{% url 'questao_new' avaliacao_id=avaliacao.id %}">
        <button class="btn btn-default">Realizar Tarefa</button></a></td>
            {% endif %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if type == 'Professor' %}
    <a href="{% url 'questao_new' avaliacao_id=avaliacao.id %}">
        <button class="btn btn-default">Adicionar questão</button>
        <a class="btn btn-default" href="{% url 'avaliacao_edit' id=avaliacao.id disciplina_id=avaliacao.disciplina.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </a>
    {% endif %}

</div>
{% endblock %}
