{% extends 'gerenciaTurmas/bases/base.html' %}

{% block content %}
<h1>{{ disciplina.nome }}</h1>
<p>Código: {{ disciplina.codigo }}</p>
<p>Carga horária: {{ disciplina.cargaHoraria }}</p>
<h2>Avaliações</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Identificação</th>
        <th>Qtd Questões
        {% if type == 'Professor' %}
             <th>Remover</th>
        {% endif %}
        {% if type == 'Aluno' %}
             <th>Notas</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if type == 'Professor' %}
        {% for avaliacao in avaliacoes %}
        <tr>
            <td><a href="{% url 'avaliacao_detail' id=avaliacao.id %}">{{avaliacao.nome }}</a></td>
            <td>{{ avaliacao.questoes.count}}</td>
            <td><a href="{% url 'avaliacao_delete' id=avaliacao.id  did=disciplina.id%}"><button class="btn btn-default">Deletar</button></a></td>
        </tr>
        {% endfor %}
    {% endif %}
    {% if type == 'Aluno' %}
    <!-- TODO : se ja fez mostrar notas, else disponibilizar resolução-->
        {% for avaliacao in avaliacoes %}
        <tr>
            <td><p>{{avaliacao.nome }}</p></td>
            <td>{{ avaliacao.questoes.count}}</td>

            {% if avaliacao.nota == None %}
                <td><a href="{% url 'resolucao_new' avaliacao_id=avaliacao.id %}"><button class="btn btn-default">Realizar Avaliação</button></a></td>
            {% elif 1 %}
                <td>{{avaliacao.nota}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{% if type == 'Professor' %}
    <a href="{% url 'avaliacao_new' disciplina_id=disciplina.id %}"><button class="btn btn-default">Nova avaliação</button></a>
{% endif %}

{% if type == 'Aluno' %}
    Media nas avaliações = {{media}}
{% endif %}

{% endblock %}