{% extends 'gerenciaTurmas/bases/base.html' %}


{% block content %}
    {% for turma in turmas %}
        <div class="post">
            <h1><a href="{% url 'disciplina_detail' id=turma.disciplina.id %}">Disciplina: {{turma.disciplina.nome}}</a></h1>
            <p><a href="{% url 'professores_detail' id=turma.professor.id %}">professor: {{ turma.professor.user.name}} {{turma.professor.user.lastName}}</a></p>

            <p>Alunos:</p>
                {% for aluno in turma.alunos.all %}
            <p >&nbsp&nbsp&nbsp <a href="{% url 'alunos_detail' id=aluno.id %}">{{aluno.user.name}}  {{aluno.user.lastName}}</a></p>
                {% endfor %}
        </div>
    {% endfor %}
    {% if type == 'Aluno' %}

        <h1>Status das Tarefas</h1>
        <table class="table">
            <thead>
            <th>Disciplina</th>
            <th>Avaliacao</th>
            <th>Nota</th>
            </thead>
            <tbody>
            {% for nota in notas %}
                <tr>
                    <td>{{nota.disciplina}}</td>
                    <td>{{nota.avaliacao}}</td>
                    <td>{{nota.nota}}</td>

                </tr>
            {%endfor %}
            </tbody>
        </table>

        <h1>Status dos Alunos</h1>
        <table class="table">
            <thead>
            <th>Disciplina</th>
            <th>Media</th>
            <th>Status</th>
            </thead>
            <tbody>
            {% for status in situacao_alunos %}
                <tr>
                    <td>{{status.disciplina}}</td>
                    <td>{{status.media}}</td>
                    <td>{{status.situacao}}</td>

                </tr>
            {%endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}